aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
backcall==0.2.0
blinker==1.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==5.1.1
distro==1.9.0
docutils==0.20.1
docx==0.2.4
docx2txt==0.8
easygui==0.98.3
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
faiss-cpu==1.7.4
filelock==3.13.1
Flask==3.0.2
frozenlist==1.4.1
fsspec==2023.12.2
genai==2.1.0
h11==0.14.0
htmltemplate==2.2.1
httpcore==1.0.4
httpx==0.27.0
idna==3.6
importlib-metadata==7.0.1
ipython==8.12.3
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
lxml==5.1.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mpmath==1.3.0
multidict==6.0.5
networkx==3.1
nltk==3.8.1
numpy==1.24.4
openai==1.12.0
openpyxl==3.1.2
parso==0.8.3
pickleshare==0.7.5
pillow==10.2.0
prompt-toolkit==3.0.43
pure-eval==0.2.2
pyasn1==0.5.1
pydantic==2.6.2
pydantic_core==2.16.3
Pygments==2.17.2
pypiwin32==223
PySimpleGUI==5.0.2
python-docx @ file:///F:/Downloads/python-docx-1.1.0/python-docx-1.1.0
pywin32==306
regex==2023.12.25
requests==2.31.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tiktoken==0.3.3
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tqdm==4.66.2
traitlets==5.14.1
typing_extensions==4.9.0
urllib3==2.1.0
wcwidth==0.2.13
Werkzeug==3.0.1
yarl==1.9.4
zipp==3.17.0
